@model IEnumerable<Geopolitics.Models.Country>//@model define o modelo usado na view, a variável Model representa o tipo definido na view

<div>
    <h2>
        Every Countries
    </h2>
</div>

@foreach(var country in Model){
    <div>
        <h4>@country.Name</h4>
        <p><img src ="@country.ImgUrl"></p>
        <h3>Population: @country.Population.ToString("")</h3>
    </div>
}