@model CountryListViewModel;//@model define o modelo usado na view, a variável Model representa o tipo definido na view

<div>
    <h2>
        @Model.CurrentContinent
    </h2>
    <hr />
</div>
<div class="container">
    <div class="row">
        @foreach (var country in Model.Countries)
        {
            <partial name = "_CountrySummary" for ="@country"/>
        }
    </div>
</div>
